<!-- footer -->
<div class="contact">
  <a href="https://www.instagram.com/minhlacoong/" target="_blank"
    ><i class="fab fa-instagram"></i
  ></a>
  <a href="https://github.com/tranchiencongtd" target="_blank"
    ><i class="fab fa-github"></i
  ></a>
  <a href="https://www.facebook.com/congngusi" target="_blank"
    ><i class="fab fa-facebook-square"></i
  ></a>
</div>
