<header>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>

  <div class="search">
    <form action="#">
      <input type="text" placeholder="Search location..." />
      <button type="submit">Search</button>
    </form>
    <p></p>
  </div>
</header>
